
	.embed-container { 


	} 

	.embed-container iframe,
	.embed-container object,
	.embed-container embed { 

  padding: 50px;
		margin-top: 0px;

		width: 100%;
		height: 100%;
		float:right;
	}
	.embed-container iframe{
		max-width:550px;
		height:350px;
	}