#loading {
  background: #0B4774 url(/assets/img/laac_white.png) center center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
  z-index: 99999;
}